body {
    max-width: 1650px;
    margin: auto;
    overflow-x: hidden;
}

[data-tabs] li {
    margin-top: 10px;
}

[role="tab"] {
    color: black;
    background-color: #d4f4cc;
}

[data-tabs] li a:focus {
    background-color: #5fa4c6;
}

@media (max-width: 1023px) {
    [data-tabs] li a {
        font-size: 18px;
    }
}

.container {
    margin: 0 5px;
    border: solid 1px lightgray;
    outline: solid 3px #ffffff;
    box-shadow: 0 0 0 4px  lightgray;
}

.CityName {
    text-align: center;
    background-color: #ccebc5;
    margin: 0;
    padding: 14px;
    font-size: 30px;
    border: solid 1px lightgray;
    outline: solid 3px #ffffff;
    box-shadow: 0 0 0 4px  lightgray;
}

.dashboard-container {
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 1px lightgray;
    outline: solid 3px #ffffff;
    box-shadow: 0 0 0 4px  lightgray;
}

@media (max-width: 1023px) {
    .dashboard-container {
        grid-template-columns: 1fr;
        }
    }

.dashboard-container-second {
    text-align: center;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border: solid 1px lightgray;
    outline: solid 3px #ffffff;
    box-shadow: 0 0 0 4px  lightgray;
}

@media (max-width: 1023px) {
    .dashboard-container-second {
        grid-template-columns: 1fr;
        }
    }

.dashboard-container_item {
    padding: 17px;
}

.dashboard-container_item-second {
    padding: 10px;
}

.info-img {
    margin-left: 10px;
    height: 20px;
    opacity: 0.6;
}

.info-img:hover{
    opacity: 1;
}

.url-tooltip {
    display: none;
    font-family: sans-serif;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 15px 15px 10px;
    border-radius: 10px;
    width: 256px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    z-index: 2;
}

.info-img:hover + .url-tooltip {
    display: block;
}

.data {
    font-size: 25px;
    font-weight:700;
    padding: 15px;
}

.data-second {
    font-size: 22px;
    padding: 10px;
}

.data-label {
    font-size: 18px;
}

.data-label-second {
    font-size: 17px;
}

@media (max-width: 1025px) {
    .data, .data-second {
        font-size: 21px;
        padding: 5px;
    }
    
    .data-label, .data-label-second {
        font-size: 18px;
    }
}
.dark-blue {
    background-color: #509ec5;
}

.blue {
    background-color: #4eb3d3;
}

.light-blue {
    background-color: #7bccc4;
}

.dark-green {
    background-color: #a8ddb5;
}

.green {
    background-color: #ccebc5;
}

.light-green {
    background-color: #d4f4cc;
}

.very-light-green {
    background-color: #e0f3db;
}

.w-100{
  width: 100%;
}

.chart-title {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.charts-container {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 1px lightgray;
    outline: solid 3px #ffffff;
    box-shadow: 0 0 0 4px  lightgray;
}

@media (max-width: 1023px) {
    .dashboard-container, .dashboard-container-second, .charts-container {
        border: none;
        outline: none;
    }
}

@media (max-width: 800px) {
    .charts-container {
        margin-top: -65px;
    }
}

.charts {
    padding: 30px 0 10px;
    width: 49%; 
}

@media (max-width: 1023px) {
    .charts {
        padding: 0;
        width: 85%;
    }
}

.mobileChartLabels, .mobileCharts {
    display: none;
    margin: auto;
}

.mobileChartLabels {
  width: 100%;
  height: 150px;
  padding: 10px 0;
}

.mobileChartLabels > canvas {
  margin: auto;
}

@media (max-width: 800px) {
    .mobileChartLabels, .mobileCharts {
        display: block;
    }
}



